POSTGRES_DB=optio
POSTGRES_USER=optio
POSTGRES_PASSWORD=optio-local
POSTGRES_PORT=5432

RABBITMQ_USER=optio
RABBITMQ_PASSWORD=optio-local
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

ELASTICSEARCH_PORT=9200
