POSTGRES_DB=optio
POSTGRES_USER=optio
POSTGRES_PASSWORD=optio-local
# 5432 is commonly occupied by a host PostgreSQL installation.
POSTGRES_PORT=15432

RABBITMQ_USER=optio
RABBITMQ_PASSWORD=optio-local
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

ELASTICSEARCH_PORT=9200

API_PORT=3000
WORKER_PORT=3001
CONSUMER_PORT=3002
FRONTEND_PORT=5173
