POSTGRES_DB=optio_verify
POSTGRES_USER=optio
POSTGRES_PASSWORD=optio-verify
POSTGRES_PORT=25432

RABBITMQ_USER=optio
RABBITMQ_PASSWORD=optio-verify
RABBITMQ_PORT=25672
RABBITMQ_MANAGEMENT_PORT=25673

ELASTICSEARCH_PORT=19200

API_PORT=13000
WORKER_PORT=13001
CONSUMER_PORT=13002
FRONTEND_PORT=15173
